<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container" style= "margin-top: 4rem">
<div class="row">
<div class="col-md-6 offset-3">
<div class="card">
<div class="card-header bg-primary text-center text-white">
 <span class="fa fa-universal-access fa-3x"></span>
</div>
<div class="card-body text-center">
<h3 th:text="${pageTitle}">Hello Mukesh</h3>
</div>

<div class="card-header text-center">
<a th:href="@{/signin}" class="btn btn-primary">Login</a>
</div>
</div>
</div></div>
</div>
</section>
</body>
</html>